version: '3'
services:
    mysql:
        container_name: mysql
        image: "mysql:8.0"
        ports:
            - "3306:3306"
        volumes:
            - ./configs/mysql/data:/docker-entrypoint-initdb.d
        environment:
            - MYSQL_ONETIME_PASSWORD=true
            - MYSQL_ROOT_PASSWORD=Azord88
            - MYSQL_DATABASE=online_shop
            - MYSQL_USER=azar
            - MYSQL_PASSWORD=4321
    mongo:
        image: mongo
        ports:
            - "27017:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: azar
            MONGO_INITDB_ROOT_PASSWORD: 4321
            MONGO_INITDB_DATABASE: online_shop
    online_shop:
        container_name: online_shop
        image: online_shop:latest
        build:
            context: ./
            dockerfile: Dockerfile
        ports:
            - "8080:8080"
        depends_on:
            - mysql
        environment:
            SPRING_DATASOURCE_USERNAME: azar
            SPRING_DATASOURCE_PASSWORD: 4321
            SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/online_shop
            command: mvn clean spring-boot:run